<html>
    <head>
        <title>{{ dict_EN.web_title }}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="/static/my_css.css">
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="color1_home">
                <div class="color2_home">
                    <h1 class="h1_home">{{ dict_EN.home_title }}</h1>
                    <h5 class="h5_home">{{ dict_EN.home_intro_1 }}</h5>
                    <h5 class="h5_home">{{ dict_EN.home_intro_2 }}</h5>
                    <div class="column-1-home">
                        <div class="card-deck">
                            <div class="card">
                                <img src="/static/tok-text.png" class="card-img-top" alt="..." height="150px" width="50px">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dict_EN.button_tok_text }}</h5>
                                    <p class="card-text">{{ dict_EN.home_tok_text }}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="/tok-text" class="btn">{{ dict_EN.home_send }}</a>
                                </div>
                            </div>
                            <div class="card">
                                <img src="/static/tok-sent.png" class="card-img-top" alt="..." height="150px" width="50px">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dict_EN.button_tok_sent }}</h5>
                                    <p class="card-text">{{ dict_EN.home_tok_sent }}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="/tok-sent" class="btn">{{ dict_EN.home_send }}</a>
                                </div>
                            </div>
                            <div class="card">
                                <img src="/static/stopwords.png" class="card-img-top" alt="..." height="150px" width="50px">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dict_EN.button_stopwords }}</h5>
                                    <p class="card-text">{{ dict_EN.home_stopwords }}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="/stopwords" class="btn">{{ dict_EN.home_send }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-2">
                        <div class="card-deck">
                            <div class="card">
                                <img src="/static/count-total.png" class="card-img-top" alt="..." height="150px" width="50px">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dict_EN.button_total_words }}</h5>
                                    <p class="card-text">{{ dict_EN.home_count_total }}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="/count-total" class="btn">{{ dict_EN.home_send }}</a>
                                </div>
                            </div>
                            <div class="card">
                                <img src="/static/count-one.png" class="card-img-top" alt="..." height="150px" width="50px">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dict_EN.button_count_one }}</h5>
                                    <p class="card-text">{{ dict_EN.home_count_one }}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="/count-one" class="btn">{{ dict_EN.home_send }}</a>
                                </div>
                            </div>
                            <div class="card">
                                <img src="/static/count-max.png" class="card-img-top" alt="..." height="150px" width="50px">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dict_EN.button_max }}</h5>
                                    <p class="card-text">{{ dict_EN.home_max }}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="/count-max" class="btn">{{ dict_EN.home_send }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>