<html>
    <head>
        <title>{{ dict_EN.web_title }}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="/static/my_css.css">
    </head>
    <body>
        <div class="color1_welcome">
            <div class="color2_welcome">
                <div class="color3_welcome">
                    <div class="color4_welcome">
                        <div class="fade-in-text_welcome">
                            <h4 class="h4_welcome"><strong>{{ dict_EN.welcome_text_1 }}</strong></h4>
                            <h2 class="h2_welcome"><strong>{{ dict_EN.welcome_text_2 }}</strong></h2>
                            <p>{{ dict_EN.welcome_description }}</p>
                            <button type="button" class="btn" onclick="window.location.href='/home'">{{ dict_EN.welcome_button }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
